*{
    font-size: 1.8rem;
}


html{
    font-size: 62.5%;
}

.btn{
    font-size: 1.7rem;
}

.form-control{
    font-size: 1.7rem ;
}

.container{
    width: 30%;
}

.container-login{
    display: flex;
    width: 100%;
    justify-content: space-between;
}