@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Lato', sans-serif;;
}

html{
    font-size: 62.5%;
}

body{ 
    height: 100vh;
    margin: 0;
    display:flex;
    background: #efefee; 
    flex-direction:column; 
} 

nav{
    width: 100%;   
    height: 80px;
    padding: 10px;  
    font-size: 1.8rem;
    color: black;
    background-color: #ddd;  

    position: absolute;
    z-index: 1;
    
    
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 0.5fr;        
    justify-content: space-around;
    align-items: center;
}

.logo-container{
    margin-left: 20%;
}

.text-container{
    width: 200px;   
    font-size: 1.7rem;
}

.logout a{
    color: red !important;
}

.text-container a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
    margin-right: 20px;
}

.search-bar-container{
    margin-left: -35px;
    display: flex;
    align-items: center;
}

.search-bar-container input{
   border: none;
   border-radius: 100px;
   padding: 10px;
   height: 2.5rem;
}

.search-bar-container i{
   margin-left: -30px;
 }

main{
    width: 100%;    
    position: relative;
    top: 80px;
    float: left;
    display: flex;
    justify-content: center;
    background-color: #efefee;
}

footer{
    width: 100%;
    min-height: 80px;
    background-color: #ddd;
    margin-top: auto;
    position: relative;          
    display: flex;    
    justify-content: center;    
    align-items: center;   
}

@media(max-width: 700px){

    html{
        font-size: 55%;
    }    
}

@media(max-width: 660px){


    .text-container{
        width: 100px;
        font-size: 1.3rem;
        margin-right: 15px;
    }

    form input{
        width: 150px;
    }
}

@media(max-width: 500px){

    h2{
        font-size: 1.7rem;
    }

    .text-container{
        margin: 5px;
    }
}

@media(max-width: 450px){
    .text-container a{
        margin: 3px;
        font-size: 1.1rem;
    }

    form input{
        width: 100px;
    }
}